{% extends "layouts.master" %}

{% block content %}
<section class="shafaq-hero">
  <div class="shafaq-hero__content">
    <span class="shafaq-hero__badge">SHAFAQ TEST</span>
    <h1>اختبار شفق يعمل الآن</h1>
    <p>إذا ظهر هذا النص فملف index.twig يعمل بشكل صحيح.</p>
  </div>
</section>
{% endblock %}